body* {
 font-family: YuGothic, "Yu Gothic", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "ヒラギノ角ゴシック", "Hiragino Sans", "メイリオ", Meiryo, "Meiryo UI", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif!important;   
}

/*top page*/

.menu li ul#appsItemCategoryTag{
    display: none!important;
}

#MainVisual .hero p, #MainVisual .hero h2, .flexslider .slides .first .hero p, .flexslider .slides .first .hero h2 {
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3)!important;
}

/*side bar*/

.sidenav {
    width: 260px;
}

/*item page*/

#item_page_wrap #bx-pager {
    height: auto;
}

.sharebtn {
    display: none!important;
}

