/*top page*/

.menu li ul#appsItemCategoryTag {
    display: none;
}

#MainVisual .hero p, #MainVisual .hero h2, .flexslider .slides .first .hero p, .flexslider .slides .first .hero h2 {
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

/*item page*/

#item_page_wrap #bx-pager {
    height: auto;
}

.sharebtn {
    display: none;
}

