/*top page*/

.menu li ul#appsItemCategoryTag {
    display: none;
}

.hero a, .hero p, .hero.sansserif h2, .widget h3 {
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

/*item page*/

#item_page_wrap #bx-pager {
    height: auto;
}

.sharebtn {
    display: none;
}

